html {
  position: relative;
  min-height: 100%;
}

.card{border: none;}

body {
  /* Margin bottom by footer height */
  margin-bottom: 60px;
}
.jumbotron {
  background-image: url("");
  background-size: 100% 100%;
  color: #b0bec5;
  margin-bottom: 0;
}
.navbar-scroll {
  background-color: rgba(0,123,255,0.4);
  transition: background-color 0.5s;
}
@media(max-width: 768px){
    .navbar {background-color: #007bff !important; }
}
/* ============================================================
  PRIMARY STRUCTURE
============================================================ */
.parallax-container {
  max-width: 960px;
  margin: 0 auto;
}

/* ============================================================
  SECTIONS
============================================================ */
section.module:last-child {
  margin-bottom: 0;
}
section.module h2 {
  margin-bottom: 40px;
  font-family: "Roboto Slab", serif;
  font-size: 30px;
}
section.module p {
  margin-bottom: 40px;
  font-size: 16px;
  font-weight: 300;
}
section.module p:last-child {
  margin-bottom: 0;
}
section.module.content {
  background-color: white;
  margin-top:40px;
}
section.module.content:last-child {
  margin-bottom: 50px;
}
section.module.parallax {
  padding: 10px 0;
  background-position: 0 0;
}
section.module.parallax h1 {
 font-size: 56px;
  color: #1e1e1e;
  font-size: 16px;
  text-align: right;
  text-transform: uppercase;
  text-shadow: 0 0 10px white;
}

.special-card {
  background-color: rgba(245, 245, 245, .75);
}

section.module.parallax-2 {
  background-image: url("../img/collage_1.jpg");
  background-position: 50% 0;
  background-repeat: repeat;
  background-attachment: fixed;
  background-size: cover;
  background-blend-mode: screen;
  background-color: #404040;
  -webkit-box-shadow:
     inset 0 0 25px #000,
                inset 0 0 25px #000,
                inset 0 0 25px #000;
  
     -moz-box-shadow:
     inset 0 0 50px #000,
                inset 0 0 25px #000,
                inset 0 0 50px #000;
  
          box-shadow:
     inset 0 0 50px #000,
                inset 0 0 25px #000,
                inset 0 0 25px #000;
}
section.module.parallax-3 {
  background-image: url("../img/collage_2.jpg");
  background-position: 50% 0;
  background-repeat: repeat;
  background-attachment: fixed;
  background-size: cover;
  background-blend-mode: screen;
  background-color: #404040;
  -webkit-box-shadow:
     inset 0 0 25px #000,
                inset 0 0 25px #000,
                inset 0 0 25px #000;
  
     -moz-box-shadow:
     inset 0 0 50px #000,
                inset 0 0 25px #000,
                inset 0 0 50px #000;
  
          box-shadow:
     inset 0 0 50px #000,
                inset 0 0 25px #000,
                inset 0 0 25px #000;
}

section.module.parallax-4 {
  background-image: url("../img/collage_3.jpg");
  background-position: 50% 0;
  background-repeat: repeat;
  background-attachment: fixed;
  background-size: cover;
  background-blend-mode: screen;
  background-color: #404040;
  -webkit-box-shadow:
     inset 0 0 25px #000,
                inset 0 0 25px #000,
                inset 0 0 25px #000;
  
     -moz-box-shadow:
     inset 0 0 50px #000,
                inset 0 0 25px #000,
                inset 0 0 50px #000;
  
          box-shadow:
     inset 0 0 50px #000,
                inset 0 0 25px #000,
                inset 0 0 25px #000;
}

@media all and (min-width: 600px) {
  section.module h2 {
    font-size: 42px;
  }
  section.module p {
    font-size: 20px;
  }
  section.module.parallax {
    padding: 200px 0;
  }
}
@media all and (min-width: 960px) {
  section.module.parallax h1 {
    font-size: 56px;
  }
}
/*footer*/
.footer .container-fluid {
  height: auto;
}
.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  /* Set the fixed height of the footer here */
  height: 60px;
  line-height: 60px;
}
footer .container-fluid a {
  display: inline-block;
  color: #ddd;
  padding-left: 1em;
 
}
footer .container-fluid p {
  display: inline-block;
  color: #ddd;
  padding-left: 1em;
  padding-right: 2em;
}
@media(max-width: 768px){
    .col-md-4 {
      text-align: center;
      line-height: 30px;
  }
}
.right {
  text-align: right;
}
.center {
  text-align: center;
}
.left {
  text-align: left;
}